body {
    margin: 0 auto;
    max-width: 720px;
    font-size: 18px;
    color: black;
}
body2 {
    margin: 0 auto;
    max-width: 720px;
    font-size: 18px;
    color: red;
}
h1 {
    text-align: center;
}

.largeText {
    font-size: 24px;
    color: white;
}

.boldText {
    font-weight: bold;
    color: white;
}

.error {
    color: white;
    background-color: red;
}

.alice {
    color: white;
    background-color: pink;

}

.bob {
    color: rgb(106, 103, 103);
    background-color: powderblue;

}